<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Movie Name</label>
    <div class="col-sm-5">
        <input type="text" ng-model="movie.title" class="form-control" id="title"/>
    </div>
</div>
<div class="form-group">
    <label for="musicDirector" class="col-sm-2 control-label">Music Director</label>
    <div class="col-sm-5">
        <input type="text" ng-model="movie.musicDirector" class="form-control" id="musicDirector"/>
    </div>
</div>

<div class="form-group">
    <label for="myForm" class="col-sm-2 control-label">Album Type</label>
    <div class="col-sm-5">
        <form name="myForm">
          <label class="radio-inline">
            <input type="radio" ng-model="movie.mode" value="manual">Manual</label>
          <label class="radio-inline">
            <input type="radio" ng-model="movie.mode" value="auto">Automatic</label>
        </form>
    </div>
</div>

<div class="form-group">
    <label for="qualityForm" class="col-sm-2 control-label">Audio Quality</label>
    <div class="col-sm-5">
        <form name="qualityForm">
          <label class="radio-inline">
            <input type="radio" ng-model="movie.quality" value="best">Best</label>
            <label class="radio-inline">
                <input type="radio" ng-model="movie.quality" value="better">Better</label>
            <label class="radio-inline">
                <input type="radio" ng-model="movie.quality" value="good">Good</label>
        </form>
    </div>
</div>

<div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ng-grid="gridOptions" class="grid"/>

<div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
        <input type="button" ng-click="newEntry()" class="btn btn-primary" value="Add Song"/>
    </div>
    <div class="col-sm-2">
        <input type="submit" class="btn btn-danger" value="Delete Song"/>
    </div>
    <div class="col-sm-2">
        <input type="submit" class="btn btn-success" value="Create Album"/>
    </div>
</div>
